abstract-rendering==0.5.1
alabaster==0.7.6
anaconda-client==1.2.1
argcomplete==1.0.0
astropy==1.0.6
awscli==1.14.24
Babel==2.1.1
beautifulsoup4==4.4.1
bitarray==0.8.1
blaze==0.8.3
blinker==1.4
bokeh==0.10.0
boto==2.38.0
botocore==1.8.28
Bottleneck==1.0.0
cffi==1.11.4
clyent==1.2.0
colorama==0.3.7
conda==4.4.11
conda-build==1.18.2
configobj==5.0.6
cryptography==1.4
cycler==0.10.0
Cython==0.23.4
cytoolz==0.7.4
datashape==0.4.7
decorator==4.0.4
docopt==0.6.2
docutils==0.12
dropbox==6.1
fastcache==1.0.2
feedgenerator==1.9
Flask==0.10.1
ghp-import==0.4.1
greenlet==0.4.9
h5py==2.5.0
idna==2.0
ipykernel==4.1.1
ipython==4.0.1
ipython-genutils==0.1.0
ipywidgets==4.1.0
itsdangerous==0.24
jdcal==1.0
jedi==0.9.0
Jinja2==2.8
jmespath==0.9.3
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
Keras==2.0.8
llvmlite==0.8.0
lxml==3.4.4
Markdown==2.6.6
MarkupSafe==0.23
matplotlib==1.5.1
mistune==2.0.3
multipledispatch==0.4.8
nbconvert==4.0.0
nbformat==4.0.1
networkx==1.10
nltk==3.1
nose==1.3.7
notebook==4.0.6
numba==0.22.1
numexpr==2.4.4
numpy==1.14.1
odo==0.3.4
openpyxl==2.2.6
pandas==0.17.1
path.py==0.0.0
patsy==0.4.0
pbr==1.8.1
pelican==3.6.3
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
Pillow==3.0.0
ply==3.8
psutil==3.3.0
ptyprocess==0.5
py==1.4.30
pyasn1==0.1.9
pycosat==0.6.3
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.1
PyEntrezId==1.5.8.1
pyflakes==1.0.0
Pygments==2.1.3
pyinotify==0.9.6
pyOpenSSL==16.2.0
pyparsing==2.0.3
pytest==2.8.1
python-dateutil==2.4.2
python-termstyle==0.1.10
pytz==2015.7
PyYAML==3.11
pyzmq==14.7.0
qtconsole==4.1.1
rednose==1.1.1
requests==2.12.4
rope-py3k==0.9.4.post1
rsa==3.4.2
s3transfer==0.1.12
scikit-image==0.11.3
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.10.0
sniffer==0.3.5
snowballstemmer==1.2.0
sockjs-tornado==1.0.1
spark==0.2.1
Sphinx==1.3.1
sphinx-rtd-theme==0.1.7
spyder==2.3.8
SQLAlchemy==1.0.9
statsmodels==0.6.1
stevedore==1.12.0
sympy==0.7.6.1
tables==3.2.2
terminado==0.5
Theano==0.7.0
toolz==0.7.4
tornado==4.3
traitlets==4.0.0
ujson==1.33
unicodecsv==0.14.1
Unidecode==0.4.21
urllib3==1.15.1
virtualenv==14.0.6
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==0.11.2
xlrd==0.9.4
XlsxWriter==0.7.7
xlwt==1.0.0
xmltodict==0.10.1
# nltk==3.2.5
biopython==1.70
# six==1.11.0
